body{
  margin: 0px;
  background-color: #F8F9FC;
  overflow-x: hidden;
}

.active{
  width: 100px;
  margin: 0px 5px;
  padding: 5px;
  background-color: rgb(198, 198, 240);
}

.normal{
  width: 100px;
  margin: 0px 5px;
  padding: 5px;
}

.normal2{
  width: 120px;
}

.message{
  color: red;
}